body {
    background-color: #b5838d;
}

.main-container {
    background-color: #b5838d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Top left box */
.container-top-left {
    width: 468px;
    height: 160px;
    border-radius: 8px;
    background-color: #6d6875;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.container-top-left__card-first {
    width: 78px;
    height: 78px;
    border-radius: 4px;
    background-color: #ffb4a2;
    margin: 0 20px 19px 20px;
}

.container-top-left__card-middle {
    width: 78px;
    height: 78px;
    border-radius: 4px;
    background-color: #ffb4a2;
    margin-bottom: 19px;
}

.container-top-left__card-last {
    width: 78px;
    height: 78px;
    border-radius: 4px;
    background-color: #ffb4a2;
    margin-left: 19px;
    margin-bottom: 19px;
}

/* Top right box */
.container-top-right {
    width: 468px;
    height: 160px;
    border-radius: 8px;
    background-color: #6d6875;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-top-right__card-first {
    width: 78px;
    height: 120px;
    border-radius: 4px;
    background-color: #ffb4a2;
}

.container-top-right__card-middle {
    width: 78px;
    height: 120px;
    border-radius: 4px;
    background-color: #ffb4a2;
    margin-right: 20px;
    margin-left: 20px;
}

.container-top-right__card-last {
    width: 78px;
    height: 120px;
    border-radius: 4px;
    background-color: #ffb4a2;
}

/* Middle left box */
.container-middle-left {
    width: 468px;
    height: 160px;
    border-radius: 8px;
    background-color: #6d6875;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-middle-left__card-first {
    width: 78px;
    height: 78px;
    border-radius: 4px;
    background-color: #ffb4a2;
    margin-right: 20px;
}

.container-middle-left__card-middle {
    width: 78px;
    height: 78px;
    border-radius: 4px;
    background-color: #ffb4a2;
    margin-right: 20px;
}

.container-middle-left__card-last {
    width: 78px;
    height: 78px;
    border-radius: 4px;
    background-color: #ffb4a2;
    margin-right: 20px;
}

/* Middle right box */
.container-middle-right {
    width: 468px;
    height: 160px;
    border-radius: 8px;
    background-color: #6d6875;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container-middle-right__card-first {
    width: 78px;
    height: 78px;
    border-radius: 4px;
    background-color: #ffb4a2;
    margin-top: 20px;
    margin-left: 20px;
}

.container-middle-right__card-middle {
    width: 78px;
    height: 78px;
    border-radius: 4px;
    background-color: #ffb4a2;
    margin-top: 20px;
}

.container-middle-right__card-last {
    width: 78px;
    height: 78px;
    border-radius: 4px;
    background-color: #ffb4a2;
    margin-right: 20px;
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Bottom left box */
.container-bottom-left {
    width: 468px;
    height: 160px;
    border-radius: 8px;
    background-color: #6d6875;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-bottom-left__card-first {
    width: 78px;
    height: 120px;
    border-radius: 4px;
    background-color: #ffb4a2;
    margin-left: 4.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-bottom-left__card-middle {
    width: 78px;
    height: 64px;
    border-radius: 4px;
    background-color: #ffb4a2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-bottom-left__card-last {
    width: 78px;
    height: 120px;
    border-radius: 4px;
    background-color: #ffb4a2;
    margin-right: 4.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: #b5838d;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 19px;
    /*När jag räknar så blir det rätt att flytta upp texten 19px
    men det ser inte rätt ut och förstår inte varför.*/
}

/* 
#ffcdb2
#ffb4a2
#e5989b
#b5838d
#6d6875 */